
<!--//////////// HIRE EMPLOYEES ////////////-->    
    
    <section id="employee_hire" data-transition="slide">
		<header data-title="Hire New Employees">
		    <nav class="left box">
		        <a href="#back" data-router="section" data-icon="left"></a>
		    </nav>
		</header>
		
		
		<article class="scroll">
		    
		    <div class="five rows">
		    	
		    	<div class="five columns">
		    		<img src="assets/emp_2.svg" class="employee_hire_pic">
		    		<div class="hireinfo">
		    		  <a data-icon="user">34</a>
		    		  <a data-icon="home">34</a>
		    		  <a data-icon="left">1434</a>
		    		</div>
		    	</div>		    			    
		    	<div class="five columns">
		    		<img src="assets/emp_1.svg" class="employee_hire_pic">
		    		<div class="hireinfo">
		    		  <a data-icon="user">34</a>
		    		  <a data-icon="home">34</a>
		    		  <a data-icon="left">1434</a>
		    		</div>
		    	</div>		 		    		
		    	</div>
		    	
		    	<div class="five columns">
		    		<img src="assets/emp_4.svg" class="employee_hire_pic">
		    		<div class="hireinfo">
		    		  <a data-icon="user">34</a>
		    		  <a data-icon="home">34</a>
		    		  <a data-icon="left">1434</a>
		    		</div>
		    	</div>		 		    		
		    	</div>
		    	<div class="five columns">
		    		<img src="assets/emp_3.svg" class="employee_hire_pic">
		    		<div class="hireinfo">
		    		  <a data-icon="user">34</a>
		    		  <a data-icon="home">34</a>
		    		  <a data-icon="left">1434</a>
		    		</div>
		    	</div>		 
		    	</div>
		    
		    </div>
		    
		</article>
	</section>
<!-- /////////// END /////////// -->
<!--//////////// HIRE EMPLOYEES ////////////-->
