<!--//////////// LOGIN ////////////-->
    <section id="login" data-transition="slide">
        
        <article class="list">      	
        	<form class="margined">
        	  <img src="assets/gamelogo.svg" class="gamelogo">        	  
            <div class="menu-elements">
              <!--<label>Username</label>-->
              <input type="text" placeholder="Username"/>                          
              <!--<label>Password</label>-->
              <input type="password" value="reallylongpw" enabled/>                        
            	<a href="index.html" class="button">Log In</a>
            </div>
		    </form>
        </article>  
     
    </section>
<!-- /////////// END /////////// -->
<!--//////////// LOGIN ////////////-->

