<!--//////////// SIGNUP ////////////-->
    <section id="signup" data-transition="slide">
        
        <article class="list">      	
        	<form class="margined">
        	  <img src="assets/gamelogo.svg" class="gamelogo">        	  
            <div class="menu-elements">
              <input type="text" placeholder="Username"/>                          
              <input type="password" value="value" enabled/>                       
              <input type="password" value="value" enabled/>                 
            	<a href="/usr/share/nginx/www/CoffeeInc/index.html" class="button" id="signup">Sign Up</a>
            </div>
		    </form>
        </article>  
     
    </section>
<!-- /////////// END /////////// -->
<!--//////////// SIGNUP ////////////-->
